#contacts {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactsText {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsForm {
    width: 50%;
    height: 100%;
}

.textOfContacts {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.textOfContacts h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(23, 23, 64);
    font-size: 2rem;
}
.textOfContacts ul p {
    color: rgb(23, 23, 64) ;
}

.textOfContacts p{
    color: rgb(158, 63, 253);
    font-weight: 500;
    letter-spacing: 2px;
}
.links{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-size: 2rem;
}
.onlyText{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contactsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactsForm form{
    height: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 200;
}
.btnCont{
    display: flex;
    justify-content: flex-start;
}
.btnCont button{
    height: 50px;
    width: 140px;
    background-color: rgb(158, 63, 253);
    color: white;
    border-radius: 50px;
    border: 1px solid transparent;
    font-size: 1.1rem;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
}

.btnCont button:hover{
    background-color: rgb(12, 12, 71);
    transition: .3s;
}

.bottomborder{
    border: 0px;
    border-bottom: 1px solid grey;
    outline: none;
    transition: .3s;
    padding-left: 10px;
    height: 40px;
}
.bottomborder:focus {
    border-bottom-color: blue;
    transition: .3s;
  }
  .bottomborder:hover {
    border-bottom-color: blue !important;
    transition: .3s;
  }
.nameSurname{
    display: flex;
    gap: 20px;
}
.name{
    display: flex;
    flex-direction: column;
}
textarea{
    resize: none;
    height: 100px;
}