.menu-btn-1 {
    height: 32px;
    width: 40px;
    cursor: pointer;
    display: none;
    position: fixed;
    top: 34px;
    right: 20px;
    z-index:41;
}

    .menu-btn-1 span,
    .menu-btn-1 span::before,
    .menu-btn-1 span::after {
        background: rgb(22, 22, 63);
        border-radius: 3px;
        content: '';
        position: absolute;
        width: 40px;
        height: 6px;         
        margin-top: 13px; 

        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .menu-btn-1 span::before {
        margin-top:-12px;
    }

    .menu-btn-1 span::after {
        margin-top:12px;
    }

    .menu-btn-1.active span {
        background: transparent;
    }

    .menu-btn-1.active span::before {
        margin-top: 0;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu-btn-1.active span::after {
        margin-top: 0;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

.mobileMenu{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}
.mobileMenu ul{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    font-size: 2rem;
}
.mobileMenu ul a{
    text-decoration: none;
    color: rgb(22, 22, 63);
}


 .mobileMenuOpen {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 40;
  }
