#numbers{
    height: 60vh;
    width: 100%;
    background-color: rgb(22, 22, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numberText{
   height: 40%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 30px;
   font-size: 1.5rem;
   letter-spacing: 2px;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.numbers{
    height: 60%;
    width: 60%;
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
}
.number{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.number h2{
    font-weight: bold;
    font-size: 4rem;
}
.circle{
    height: 7px;
    width: 7px;
    background-color: white;
    margin-top: 40px;
    border-radius: 50%;
}